.anime-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.anime-row>* {
  flex-basis: 30%;
  flex-shrink: 0;
}

.anime-row .card {
  display: flex;
  flex-direction: column;

}

.anime-row .card>.card-content {
  flex-grow: 1;
}

.anime-row .card>.card-image {
  flex-basis: 25rem;
  flex-shrink: 0;
  overflow-y: hidden;
  background-color: grey;
}

body {
  margin: 0;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  .anime-row>* {
    flex-basis: 100% !important;
  }
}

@media screen and (max-width: 1100px) {
  .anime-row>* {
    flex-basis: 48%;
  }
}